{% extends 'base.html' %}
{% load static %}
{% block content %}  
    
<div class="container sections-wrapper py-3">
	<div class="row">
		<div class="primary col-lg-8 col-12 mx-auto">    
      <section class="experience section">
				<div class="section-inner shadow-sm rounded">
					<h2 class="heading">General Information</h2>
						<div class="content">
							<div class="item">
									<p class="title">Name <span class="place d-flex justify-content-center">Jorge Torres</span><p>
							</div><!--//item-->
							<div class="item">
									<p class="title">Mail <span class="place d-flex justify-content-center"><a href="#">geresez@gmail.com</a></span></p>
							</div><!--//item-->
							<div class="item">
									<p class="title">Location <span class="place d-flex justify-content-center">Spain (GRX) / France (LYS)</span></p>
							</div><!--//item-->
							<div class="item">
									<p class="title">Languages <span class="place d-flex justify-content-center">Spanish (native), English (C1), French (B1)</span></p>
							</div><!--//item-->
						</div><!--//content-->  
				</div><!--//section-inner-->   

				<div class="section-inner shadow-sm rounded my-3">
					<h2 class="heading">Working experience</h2>
						<div class="content">                        
							<div class="item">
								<h3 class="title">PhD Candidate - <span class="place"><a href="https://www.ugr.es/">University of Granada (Spain)</a></span> <span class="year">(2019 - 2023)</span></h3>
									<p>The application of medical imaging techniques, mainly elastography, for the biomechanical characterization of several biological media.</p>
							</div><!--//item-->
							<div class="item">
								<h3 class="title">Research visitor - <span class="place"><a href="http://labtau.univ-lyon1.fr/">LabTau - INSERM (France)</a></span> <span class="year">(2022 & 2023)</span></h3>
									<p>Analysis of wave propagation in complex media (viscoelastic liquids).</p>
							</div><!--//item-->
							<div class="item">
								<h3 class="title">Laboratory Research Staff - <span class="place"><a href="https://www.ugr.es/">University of Granada (Spain)</a></span> <span class="year">(2018 - 2019)</span></h3>
									<p>Patent writing, prototype design, technical documentation for companies, pilot study measures, and student training.</p>
							</div><!--//item-->
							<div class="item">
								<h3 class="title">Co-founder of medical spin-off - <span class="place"><a href="https://www.innitius.com/">Innitius (Spain)</a></span> <span class="year">(2018)</span></h3>
									<p>Company focused on the diagnosis of preterm labor through the consistency of cervical tissue.</p>
							</div><!--//item-->
							<div class="item">
								<h3 class="title">Junior Software Engineer - <span class="place">Gran Capitan Notary's Office (Spain)</span> <span class="year">(2018)</span></h3>
									<p>Development of applications for web scraping and automatic filling of customer data.</p>
							</div><!--//item-->         
						</div><!--//content-->  
				</div><!--//section-inner-->   
                
				<div class="section-inner education shadow-sm rounded my-3">
					<h2 class="heading">Education</h2>
						<div class="content">
							<div class="item">                      
								<h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Structures</h3>
								<h4 class="university">University of Granada (Spain) <span class="year">(2016-2017)</span></h4>
							</div><!--//item-->
							<div class="item">
								<h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Civil Engineering</h3>
								<h4 class="university">University of Granada (Spain) <span class="year">(2011-2016)</span></h4>
							</div><!--//item-->
						</div><!--//content-->
				</div><!--//section-inner-->

				<div class="section-inner shadow-sm rounded">
					<h2 class="heading">Research</h2>
						<div class="content">
							<div class="item">
								<p>
								I started my formative career at the University of Granada, obtaining a degree in Civil
								Engineering with a specialization in Transport and Urban Services. Shortly before finishing the
								degree I joined the Non Destructive Evaluation laboratory (renamed Ultrasonics Lab TEP-959)
								of the UGR. When I first joined, back in September 2015, I intended to differentiate myself
								from the rest of the students thanks to the innovative projects they were carrying out. The
								application of ultrasound as a tool to respond to the constant uncertainties that occur within
								materials or structures in operation, that is, entering the world of reliability and mechanical
								behavior prognosis was imposed on me as something very attractive. 
								</p>
								<p>
								The first steps led me to the project of predicting premature birth, a pathology that affects
								millions of children a year and puts their lives at risk in the short term. Thanks to this, I
								have been able to work with both medical and other physical specialists, who have helped
								us to optimize our technology. I have performed various safety and efficiency tests, improved
								multiple designs, developed computational algorithms for biomechanical modeling, analyzed
								sensor data and trained new colleagues in the methodology of our laboratory, something that
								feels comforting to say the least. In addition, as a researcher one has a very dynamic role, one
								does not stay stuck in a specific topic, which allows one to be creative, think differently and
								be open to new knowledge. I am also a member of the Biomechanics Group of the Instituto
								Biosanitario de Investigación de Granada (IBS-TEC12).
								</p>
								<p>
								The subject of my doctorate focuses on microelastography, the application of the principles of
								elastography in micrometric environments, using specialized imaging equipment with sufficient
								spatial and temporal resolution.
								</p>
								</div><!--//item-->
							<div class="item">
								<p>More about my research career: <a href="https://orcid.org/0000-0001-9488-6794">ORCID</a></p>
							</div><!--//item-->													
						</div><!--//content-->  
				</div><!--//section-inner-->   


			</section><!--//section-->
		</div><!--//main-wrapper-->
	</div>
</div>
    
{% endblock content %} 