{% extends 'base.html' %}
{% load markdownify %}

{% block content %}  
    
<div class="container sections-wrapper py-3">
	<div class="row">
		<div class="primary col-lg-8 col-12 mx-auto">    
			<section class="blog section">
				<div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Category: {{ category.title }}</h2>
                    <div class="content">
                        {% for PP in posts %}
                        <div class="item">
                            <h1 class="title"><a href="{% url 'post' PP.slug %}">{{ PP.title }}</a></h1>
                            <p class="datepost">{{ PP.timestamp | date:"F d, Y" }}, {{ PP.author.user}}{% if PP.categories.all %}, {{PP.categories.all|join:", "}} {% endif %}</p>
                            <div class="border border-2 shadow-sm rounded p-1 my-2 summaryL">
                            <p class="summary">{{ PP.content | markdownify | truncatewords:50}} <br></p>
                            </div>
                            <p><a class="more-link" href="{% url 'post' PP.slug %}" ><i class="fas fa-external-link-alt"></i>Know more</a></p>
                        </div><!--//item-->
                        {% endfor %}
                    </div><!--//content-->
                </div>  <!--//section-inner-->
            </section><!--//section-->
        </div>    
    

    </div>
</div>
    
	{% endblock content %} 
        
       

